<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!--LIVE RELOADING-->
        <script type="text/javascript" src="https://livejs.com/live.js"></script>
        <meta charset="utf-8" />
        <meta name="viewport"
        content="width=device-width" />
        <link href="../stylesheets/gallery.css" rel="stylesheet" />
        <title>Gallery</title>
    </head>
    <body>
        <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
            <div class="image-frame">
                <h2>HELLO WORLD</h2>
                <img class="image" src="https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2948&q=80" draggable="false"/>
            </div>
            <div class="image-frame">
                <h2>SAMPLE TEXT</h2>
                <img class="image" src="https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" draggable="false"/>
            </div>
            <div class="image-frame">
                <h2>HELLO WORLD</h2>
                <img class="image" src="https://images.unsplash.com/photo-1470071459604-3b5ec3a7fe05?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2174&q=80" draggable="false"/>
            </div>
            <div class="image-frame">
                <h2>SAMPLE TEXT</h2>
                <img class="image" src="https://images.unsplash.com/photo-1677247191557-4abd28b7c387?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2231&q=80" draggable="false"/>
            </div>
            <div class="image-frame">
                <h2>HELLO WORLD</h2>
                <img class="image" src="https://images.unsplash.com/photo-1572099606223-6e29045d7de3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" draggable="false"/>
            </div>
            <div class="image-frame">
                <h2>SAMPLE TEXT</h2>
                <img class="image" src="https://images.unsplash.com/photo-1527489377706-5bf97e608852?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2159&q=80" draggable="false"/>
            </div>
        </div>
    </body>
    <script src="/reload/reload.js"></script>
    <script src="../javascripts/sliding-image-track.js"></script>
</html>